@import "tailwindcss";
:root {
  --color-primary: #e11d48;
  --color-primary-hover: #be123c;

  --color-bg: #ffffff;
  --color-surface: #f4f4f5;
  --color-border: #e4e4e7;

  --color-text: #18181b;
  --color-text-muted: #71717a;

  --color-accent: #f59e0b;
  --radius: 0.85rem;
}

[data-theme="dark"] {
  --color-primary: #e11d48;
  --color-primary-hover: #be123c;

  --color-bg: #0f0f12;
  --color-surface: #17171c;
  --color-border: rgba(255, 255, 255, 0.08);

  --color-text: #f4f4f5;
  --color-text-muted: #a1a1aa;

  --color-accent: #fbbf24;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border-color: var(--color-border);
}

html {
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1, h2 {
  margin: 0;
  color: var(--color-text);
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
}
h1{
  font-weight: 900;
}
h2{
  font-weight: 500;
}

p {
  margin: 0;
  color: var(--color-text-muted);
}

button {
  font: inherit;
  cursor: pointer;
  border-radius: var(--radius);
  border: none;
  background-color: var(--color-primary);
  color: white;
  padding: 0.5rem 0.75rem;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: var(--color-primary-hover);
}

img {
  max-width: 100%;
  display: block;
  border-radius: var(--radius);
}

a {
  text-decoration: none;
  color: inherit;
}
.card {
  background: var(--color-surface);
  border-radius: var(--radius);
  border: 1px solid var(--color-border);
  overflow: hidden;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--color-accent);
  font-size: 0.875rem;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 1rem;
}

.textured-border {
  border: 8px solid transparent;
  border-image: url('/textures/texture1.png') 40 round;

  box-shadow: 
    0 0px 6px rgba(0,0,0,0.05),
    0 12px 30px rgba(0,0,0,0.10);
  border-radius: 12px;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-border) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-text-muted);
}

@keyframes slowPan {
  0% { transform: scale(1.05) translateX(0px); }
  100% { transform: scale(1.08) translateX(-10px); }
}
@keyframes floatBot {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0px); }
}